/* .30_96 { 
	overflow:hidden;
}
.e30_96 { 
	background-image:linear-gradient(0deg, rgba(10.837500113993883, 13.366241622716188, 36.12499974668026, 1) 0%,rgba(120.06249949336052, 174.03750121593475, 255, 1) 100%) ;
	width:1440px;
	height:662px;
	position:absolute;
}
.e30_103 { 
	width:1440px;
	height:470px;
	position:absolute;
	left:0px;
	top:96px;
}
.e25_74 { 
	width:1200px;
	height:71px;
	position:absolute;
	left:120px;
	top:0px;
}
.e25_35 { 
	color:rgba(255, 255, 255, 1);
	width:1200px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Outfit;
	text-align:center;
	font-size:56px;
	letter-spacing:0;
}
.e30_85 { 
	width:1200px;
	height:327px;
	position:absolute;
	left:120px;
	top:143px;
}
.e54_26 { 
	width:303px;
	height:327px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e30_98 { 
	width:303px;
	height:209px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/ddddaawss_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e30_92 { 
	width:303px;
	height:86px;
	position:absolute;
	left:0px;
	top:241px;
}
.e30_93 { 
	color:rgba(233.7500050663948, 233.7500050663948, 233.7500050663948, 1);
	width:303px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Outfit;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e30_94 { 
	color:rgba(233.7500050663948, 233.7500050663948, 233.7500050663948, 1);
	width:303px;
	height:40px;
	position:absolute;
	left:0px;
	top:46px;
	font-family:Outfit;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e30_81 { 
	width:317px;
	height:327px;
	position:absolute;
	left:434.5px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e30_79 { 
	width:317px;
	height:209px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/man_yellow_hard_hat_is_looking_water_meter_399963_3689_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e30_84 { 
	width:317px;
	height:86px;
	position:absolute;
	left:0px;
	top:241px;
}
.e30_80 { 
	color:rgba(255, 255, 255, 1);
	width:303px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Outfit;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e30_82 { 
	color:rgba(255, 255, 255, 1);
	width:317px;
	height:40px;
	position:absolute;
	left:0px;
	top:46px;
	font-family:Outfit;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e30_86 { 
	width:317px;
	height:327px;
	position:absolute;
	left:883px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e30_97 { 
	width:317px;
	height:209px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/man_is_standing_front_yellow_microphone_399963_3744_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e30_87 { 
	width:317px;
	height:86px;
	position:absolute;
	left:0px;
	top:241px;
}
.e30_88 { 
	color:rgba(255, 255, 255, 1);
	width:303px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Outfit;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e30_89 { 
	color:rgba(255, 255, 255, 1);
	width:317px;
	height:40px;
	position:absolute;
	left:0px;
	top:46px;
	font-family:Outfit;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
} */
