footer{
    padding: 60px var(--side-padding);
    background-color: var(--clr-primary-footer);
    position: relative;
    color: var(--clr-primary-white);
}
.footer-container{
    max-width: var(--column-12);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap-reverse;
    row-gap: 48px;
    column-gap: 56px;
}
footer h3{
    font-weight: var(--font-medium);
    margin-bottom: 16px;
}
.quick-links, .contact-information{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.quick-links a{
    font-weight: var(--font-medium);
}
.contact-wrapper{
    display: flex;
    align-content: center;
    font-weight: var(--font-medium);
}
.contact-wrapper img{
    margin-right: 12px;
}
.gmail a{
    word-break: break-all;
}
.copyright{
    background-color: var(--clr-primary-white);
    text-align: center;
    padding-block: 6px;
    font-size: 12px;
    font-weight: var(--font-light);
}
.footer-grass-img{
    position: absolute;
    height: 55px;
    width: 100%;
    top: -53px;
    left: 0px;
    background-image: url(../Assets/footer-grass-dark-blue.svg);
    background-repeat: repeat-x;
}
.footer-worker-img{
    position: absolute;
    background-image: url(../Assets/footer-worker-dark-blue.svg);
    background-repeat: no-repeat;
    background-position-x: 100px;
    height: 160px;
    width: 100%;
    top: -175px;
    left: 0px;
}
.footer-secondary h3, .footer-secondary a{
    color: var(--clr-primary-dark-gray);
}
.footer-secondary{
    background-color: var(--clr-secondary-footer);  
}
.footer-secondary .footer-worker-img{
    background-image: url(../Assets/footer-worker-neon-yellow.svg);
}
.footer-secondary .footer-grass-img{
    background-image: url(../Assets/footer-grass-neon-yellow.svg);
}

@media screen and (max-width: 1200px){
    .footer-worker-img{
        display: none;
    }
}

@media screen and (max-width: 469px){
    .footer-container h3{
        margin-bottom: 8px;
    }
}

/* @media screen and (max-width: 440px){
    .footer-container h3{
        margin-bottom: 18px;
    }
} */

@media screen and (max-width: 410px) {
    .footer-grass-img{
        background-size: cover;
    }
}
