
/* Hero section */
:root{
    --side-padding: 120px;
}
.hero{
    padding-block: 120px;
    padding-inline: var(--side-padding);
    overflow: hidden;
    transition: 200ms;
    position: relative;
}
#total-station-hero-img{
    display: none;
}
.hero-container{
    max-width: var(--column-12);
    margin: auto;
    position: relative;
}
.hero-info{
    max-width: var(--column-5);
    display: flex;
    flex-direction: column;
}
.hero h1{
    color: var(--clr-primary-blue);
}
.hero p{
    font-weight: var(--font-semibold);
}
.hero-info small{
    color: var(--clr-gray-300);
    font-weight: var(--font-medium);
}
.hero-button-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
}
.hero-img{
    z-index: -1;
    position: absolute;
    width: 1020px;
    bottom: -200px;
    right: -280px;
}

/* Services section */
.services{
    width: 100%;
    background-image:linear-gradient(0deg, #2D4069 10%,rgba(120.06249949336052, 174.03750121593475, 255, 1) 100%);
    padding: 120px var(--side-padding);
}
.services h1{
    text-align: center;
    color: var(--clr-primary-white);
}
.services-container{
    margin: auto;
    max-width: var(--column-12);
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 56px;
    row-gap: 56px;
}
.service-card{
    max-width: 330px;
}
/* .service-card:nth-of-type(n):not(:last-of-type):not(:first-of-type){
    margin-inline: 20px;
}
.service-card:first-of-type{
    margin-right: 20px;
}
.service-card:last-of-type{
    margin-left: 20px;
} */
.service-card img{
    object-fit: contain;
    height: 50%;
    width: 100%;
}
.service-card h3, .service-card p{
    color: var(--clr-primary-white);
}
.service-card p{
    font-weight: var(--font-light);
}

/* About us section */
.about-us::before{    
    z-index: -1;
    content: "";
    background-image: url("../Assets/topography-mesh.png");
    background-size: cover;
    position: absolute;
    inset: 0;
    opacity: 0.06;
}
.about-us{
    position: relative;
    padding: 96px var(--side-padding);
}
.about-us-info h1 span{
    color: var(--clr-primary-blue);
}
.about-us-container{
    max-width: var(--column-12);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    column-gap: 64px;
}
.about-us img{
    max-width: var(--column-5);
    object-fit: contain;
    min-width: 450px;
}
.about-us-info{
    max-width: var(--column-5);
}
.about-us-info p{
    font-weight: var(--font-medium);
}
.filler-div{
    min-width: var(--tablet-column-3);
    display: none;
}
/* Projects section */
.projects{
    background-color: #EFF7FC;
    padding: var(--side-padding);
}
.projects-container{
    max-width: var(--column-12);
    margin: auto;
}
.project{
    position: relative;
    display: flex;
    margin-bottom: 120px;
    column-gap: 64px;
    justify-content: space-between;
}
.project-container{
    max-width: var(--column-6);
    width: 100%;
}
.project header h2{
    color: var(--clr-primary-orange);
}
.project-text p{
    font-weight: var(--font-medium);
    margin-bottom: 16px;
}
.projects h1{
    color: var(--clr-primary-blue);
}
.additional-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.state-info{
    display: flex;
    align-items: center;
    color: var(--clr-accent-green);
    font-weight: var(--font-bold);
}
.state-flag{
    max-width: 56px;
    margin-right: 16px;
    border-radius: 4px;
}
.additional-info .nesto{
    color: var(--clr-gray-200);
    font-weight: var(--font-bold);
}
.project-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
.project-image{
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
    height: 100%;
}
.change-sides{
    order: 1;
}
.first-image{
    object-fit: cover;
    border-radius: 50%;
    height: 330px;
    aspect-ratio: 1 / 1;
}
.second-image{
    width: 200px;
    height: 200px;
    top: 0px;
    right: 0px;
    transform: translateY(-20%);
}
.third-image{
    object-fit: cover;
    border-radius: 50%;
    height: 330px;
    aspect-ratio: 1 / 1;
}
.fourth-image{
    width: 180px;
    height: 180px;
    top: -50px;
    right: 0px;
}
.fifth-image{
    width: 130px;
    height: 130px;
    bottom: 0px;
    left: 0px;
    transform: translateX(-20%);
}

/* Clients section */
.clients{
    background-color: #DFF4FF;
    padding: 36px var(--side-padding);

}
.clients-container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--column-12);
}   
.client-logo-img{
    max-height: 50px;
    min-width: 0px;
}

/* Contact section */
.contact::before{    
    z-index: -1;
    content: "";
    background-image: url("../Assets/topography-mesh-white-cropped.png");
    background-size:cover;
    position: absolute;
    inset: 0;
    opacity: 0.1;
}
.contact{
    isolation: isolate;
    background-color: #4B6CAC;
    padding-top: 120px;
    padding-bottom: 290px;
    padding-inline: var(--side-padding);
    position: relative;
}
.contact form{
    margin: 0 auto;
    background-color: var(--clr-primary-white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    max-width: var(--column-8);
    padding: 36px 40px;
}
.contact-form input,textarea{
    border: none;
    border-bottom: 1px var(--clr-gray-300) solid;
    font-weight: var(--font-light);
    padding-block: 8px;
    margin-bottom: 32px;
    resize: none;
}
input:focus, textarea:focus{
    outline: none;
    border-bottom: 1px #3f567a solid;
}

@media screen and (max-width: 1280px) {
    :root{
        --side-padding: 56px;
    }
    .client-logo-img{
        max-height: 40px;
    }
}
@media screen and (max-width: 1200px){
    .contact{
        padding-bottom: 190px;
    }
}

/* Desktop 1025px - +1440px  */

/* Additional changes */
@media screen and (max-width: 1230px) {
    .project-container{
        max-width: var(--column-5);
    }
}
@media screen and (max-width: 1310px) {
    .hero-img{
        right: -400px;
    }
}
@media screen and (max-width: 1170px) {
    #girl-hero-img{
        display: none;
    }
    #total-station-hero-img{
        display: block;
    }
    .hero-img{
        width: 1020px;
        bottom: -200px;
        right: -200px;
    }
}

/* Tablet 1024px - 641px  */
@media screen and (max-width: 1024px){
    :root{
        --side-padding: 56px;
        --service-card-margin: 38px;
        --client-logo-margin: 10px;
    }
    /* Hero section */
    .hero{
        padding-block: 72px;
    }
    .hero-info{
        max-width: var(--tablet-column-5);
    }
    .hero-img{
        right: -160px;
        bottom: -160px;
    }

    /* Services section */
    .services-container{
        flex-direction: column;
        align-items:center;
    }
    .service-card{
        text-align: center;
    }
    .service-card p{
        font-weight: var(--font-regular);
    }

    /* About us section */
    .about-us{
        position: relative;
        overflow: hidden;
    }
    .about-us-container{
        margin: 0;
        justify-content: stretch;
    }
    .about-us-info{
        max-width: var(--tablet-column-4);
    }
    .about-us img{
        object-fit: contain;
        position: absolute;
        bottom: -50px;
        right: -400px;
        height: 600px;
        max-width: none;
        z-index: -2;
    }
    .filler-div{
        display: block;
    }

    /* Projects section */
    .projects{
        padding-block: 10%;
    }
    .project{
        flex-direction: column;
        max-width: var(--tablet-column-8);
        margin-bottom: 64px;
    }
    .project:last-of-type{
        margin-bottom: 0px;
    }
    .project-container{
        max-width: var(--tablet-column-8);
    }
    .project-image-container img{
        position: static;
        border-radius: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
        min-width: 0;
        border-radius: 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
        transform: translate(0, 0);
    }
    .first-image{
        aspect-ratio: unset;
    }
    .project-image-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        column-gap: 2%;
    }
    .third-image{
        aspect-ratio: 16 / 8;
        border-radius: 0px;
    }
    .fourth-image{
        display: none;
    }
    .fifth-image{
        display: none;
    }
    .change-sides{
        order:unset;
    }
    /* Clients section */
    .client-logo-img:nth-child(n):not(:first-child):not(:last-child){
        margin-inline: var(--client-logo-margin);
    }
    .client-logo-img:last-child{
        margin-left: var(--client-logo-margin);
    }
    .client-logo-img:first-child{
        margin-right: var(--client-logo-margin);
    }
}
@media screen and (max-width: 828px) {
    .about-us-info h1{
        font-size: 48px;
    }
    .about-us img{
        height: 650px;
        right: -550px;
    }
}
@media screen and (max-width: 800px) {
    /* .about-us-info h1{
        font-size: 56px;
    } */
    .about-us-info{
        max-width: var(--tablet-column-8);
    }
    .about-us img{
        display: none;
    }
    .filler-div{
        display: none;
    }
}
@media screen and (max-width: 920px) {
    #total-station-hero-img{
        display: none;
    }
    .hero::after{
        position: absolute;
        background-image: url("../Assets/topography-mesh.png");
        background-repeat: no-repeat;
        background-size: cover;
        content: '';
        inset: 0;
        opacity: 0.1;
        z-index: -1;
    }
}

/* Phone 640px - 0px  */
@media screen and (max-width: 640px){
    /* Hero section  */
    :root{
        --side-padding: 16px;
    }
    .hero-info header{
        margin-bottom: 32px;
    }
    .hero-button-container{
        display: flex;
        flex-wrap: wrap;
        row-gap: 16px;
        column-gap: 16px;
    }

    /* Projects section */
    .additional-info{
        flex-wrap: wrap;
        row-gap: 8px;
        column-gap: 40px;
    }
    .additional-info p{
        font-size: 14px;
    }
    .state-flag{
        margin-right: 8px;
        max-width: 45px;
    }
    .second-image{
      display: none;  
    }
    .first-image{
        aspect-ratio: 16 / 8;
    }

    /* Clients section */
    .clients{
        padding-block: 16px;
    }
}
/* Additional changes for phone */
@media screen and (max-width: 360px) {
    .contact form{
        padding: 16px 24px;
    }
}
