nav{
    background-color: var(--clr-primary-white);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 5px;
    padding-block: 16px;
    padding-inline: var(--main-side-padding);
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
    transition: 300ms ease-in-out;
}
nav li a{
  color: var(--clr-gray-300);
  font-size: var(--font-size-16);
  font-weight: var(--font-ligth);
  text-transform: uppercase;
  text-decoration: none; /* no underline */
  display: inline-block;
}
ul li:not(:first-child){
    margin-left: 64px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
}
nav .logo{
    display: inline-block;
    height: 50px;
}
nav .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--column-12);;
    margin-inline: auto;
}
/* nav li a::after{
    display: block;
    content: '';
    height: 1px;
    width: 0px;
    background-color: var(--clr-gray-300);
    transition: 300ms;
} */
/* nav li a:hover::after{
    width: 100%;
} */
.active{
    color: var(--clr-primary-dark-gray);
}
/* .active::after{
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    background-color: var(--clr-primary-dark-gray);
} */
.burger-icon{
    display: none;
    width: 25px;
    height: 25px;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 300ms;
}
.burger-icon span{
    height: 3px;
    z-index: -1;
    width: 100%;
    background-color: var(--clr-primary-dark-gray);
}
.rotate-icon{
    transform: rotate(90deg);
}
@media screen and (max-width: 1050px){
    .burger-icon{
        display: flex;
    }
    .menu-items{
        position: absolute;
        top: 86px;
        right: -35vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.507);
        /* max-width: 30vw; */
        min-width: 35vw;
        display: flex;
        flex-direction: column;
        transition: 300ms;
    }
    ul li:not(:first-child){
        margin-left: 0px;
    }
    ul li{
        width: 100%;
    }
    ul li a{
        width: 100%;
        padding-block: 20px;
        text-align: center;
        color: var(--clr-primary-white);
        font-size: 24px;
    }
    .active{
        background-color: var(--clr-primary-orange);
    }
}

/* Phone 640px - 0px */
@media screen and (max-width: 640px){
    ul li a{
        font-size: 16px;
    }
    nav .logo{
        height: 35px;
    }
    .burger-icon{
        height: 20px;
    }
    .burger-icon span{
        height: 2px;

    }
}