nav{
    background-color: var(--clr-primary-white);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 5px;
    padding-block: 16px;
    padding-inline: 120px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
}
nav li a{
  color: var(--clr-primary-dark-gray);
  font-size: var(--font-size-16);
  font-weight: var(--font-ligth);
  text-transform: uppercase;
  text-decoration: none; /* no underline */
  display: inline-block;
}
ul li:not(:first-child){
    margin-left: 64px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
}
nav .logo{
    display: inline-block;
    height: 50px;
}
nav .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--column-12);;
    margin-inline: auto;
}
nav li a::after{
    display: block;
    content: '';
    height: 1px;
    width: 0px;
    background-color: var(--clr-primary-dark-gray);
    transition: width 300ms;
}
nav li a:hover::after{
    width: 100%;
}
.active::after{
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    background-color: var(--clr-primary-dark-gray);
}