:root{
    --navbar-height: 0px;
}
#navbar + * {
    padding-top: calc(var(--first-element-top-padding) + var(--navbar-height));
}
nav{
    background-color: var(--clr-primary-white);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 5px;
    padding-block: 16px;
    padding-inline: var(--side-padding);
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
    transition: 300ms ease-in-out;
}
nav li a{
  color: var(--clr-gray-300);
  font-size: var(--font-size-16);
  font-weight: var(--font-ligth);
  text-transform: uppercase;
  text-decoration: none; /* no underline */
  display: inline-block;
}
.menu-items{
    display: flex;
    column-gap: 64px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
}
nav .logo{
    display: inline-block;
    height: 50px;
}
nav .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--column-12);;
    margin-inline: auto;
}
.top-bar{
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    margin-inline: auto;
    max-width: var(--column-12);
    /* position: absolute;
    bottom: 0px;
    right: 0px;
    transform: translateY(100%);
    margin-right: var(--side-padding); */
}
.active{
    color: var(--clr-primary-dark-gray);
}
.burger-icon{
    display: none;
    width: 25px;
    height: 25px;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 300ms;
}
.burger-icon span{
    height: 3px;
    z-index: -1;
    width: 100%;
    background-color: var(--clr-primary-dark-gray);
}
.rotate-icon{
    transform: rotate(90deg);
}
@media screen and (max-width: 1050px){
    .burger-icon{
        display: flex;
    }
    .menu-items{
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100vh;
        min-width: 35vw;
        background-color: rgba(0, 0, 0, 0.507);
        bottom: 0px;
        right: 0px;
        transform: translateY(100%);
        transform: translateX(100%);
        transition: translateX 0.3s;
    }
    .open-navbar{
        transform: translate(0%, 100%);
    }
    .close-navbar{
        transform: translate(100%, 100%);
    }
    ul li:not(:first-child){
        margin-left: 0px;
    }
    ul li{
        width: 100%;
    }
    ul li a{
        width: 100%;
        padding-block: 20px;
        text-align: center;
        color: var(--clr-primary-white);
        font-size: 24px;
    }
    .active{
        background-color: var(--clr-primary-orange);
    }
}

/* Phone 640px - 0px */
@media screen and (max-width: 640px){
    ul li a{
        font-size: 16px;
    }
    nav .logo{
        height: 35px;
    }
    .burger-icon{
        height: 20px;
    }
    .burger-icon span{
        height: 2px;

    }
}