.project{
    padding: 80px 120px;
    isolation: isolate;
    position: relative;
}
.project:nth-child(odd){
    background: linear-gradient(to left, #140C33, #48465D);
}
.project:nth-child(odd)::before{
    background-image: url(/Assets/topography-mesh.png);
}
.project:nth-child(even){
    background: linear-gradient(to right, #051727, #3E5063);
}
.project:nth-child(even)::before{
    background-image: url(/Assets/topography-mesh-white-cropped.png);
    opacity: 0.08;
}
.project:nth-child(even) .project-info{
    order: 2;
}
.project:nth-child(even) .project-img{
    margin-left: 0px;
    margin-right: 80px;
}
.project:last-child{
    padding-bottom: 260px;
}
.project::before{
    z-index: -1;
    content: "";
    background-size:cover;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
    opacity: 0.1;
}
.project-img{
    background-repeat: no-repeat;
    margin-left: 80px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 10px 0px;
    width: 100%;
    height: auto;
}
.project-container{
    margin: 0 auto;
    position: relative;
    max-width: var(--column-12);
    display: flex;
}
.project-info{
    max-width: var(--column-6);
}
.project header h2{
    color: var(--clr-primary-orange);
}
.project-text p{
    font-weight: var(--font-medium);
    color: var(--clr-gray-100);
    margin-bottom: 16px;
}
.project-text{
    margin-bottom: 32px;
}
.projects h1{
    color: var(--clr-primary-blue);
}
.additional-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.state-info{
    display: flex;
    align-items: center;
    color: var(--clr-accent-green);
    font-weight: var(--font-bold);
}
.state-flag{
    max-width: 56px;
    margin-right: 16px;
    border-radius: 10px;
}
.additional-info .nesto{
    color: var(--clr-gray-200);
    font-weight: var(--font-bold);
}
.copyright{
    background-color: var(--clr-primary-dark-gray);
    color: var(--clr-secondary-footer);
}

