:root{
    --project-column-gap: 56px;
    --side-padding: 120px;
}
.project{
    padding: 80px var(--side-padding);
    isolation: isolate;
    position: relative;
}
.project:nth-child(even){
    background: linear-gradient(to left, #140C33, #48465D);
}
.project:nth-child(even)::before{
    background-image: url(/Assets/topography-mesh.png);
}
.project:nth-child(odd){
    background: linear-gradient(to right, #051727, #3E5063);
}
.project:nth-child(odd)::before{
    background-image: url(/Assets/topography-mesh-white-cropped.png);
    opacity: 0.08;
}
.project:nth-child(odd) .project-info{
    order: 2;
}
.project:last-of-type {
    padding-bottom: 260px;
}
.project::before{
    z-index: -1;
    content: "";
    background-size:cover;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
    opacity: 0.1;
}
.project-img{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 10px 0px;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.project-container{
    margin: 0 auto;
    position: relative;
    max-width: var(--column-12);
    display: flex;
    column-gap: var(--project-column-gap);
}
.project-info{
    max-width: var(--column-6);
    width: 100%;
}
.project header h2{
    color: var(--clr-primary-orange);
}
.project-text p{
    font-weight: var(--font-medium);
    color: var(--clr-gray-100);
    margin-bottom: 16px;
}
.project-text{
    margin-bottom: 32px;
}
.projects h1{
    color: var(--clr-primary-blue);
}
.additional-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
    flex-wrap: wrap-reverse;
    row-gap: 32px;
}
.state-info{
    display: flex;
    align-items: center;
    color: var(--clr-accent-green);
    font-weight: var(--font-bold);
}
.state-flag{
    max-width: 56px;
    margin-right: 16px;
    border-radius: 10px;
}
.additional-info .nesto{
    color: var(--clr-gray-200);
    font-weight: var(--font-bold);
}
.copyright{
    background-color: var(--clr-primary-dark-gray);
    color: var(--clr-secondary-footer);
}
@media screen and (max-width: 1280px) {
    :root{
        --side-padding: 56px;
    }
}
@media screen and (max-width: 1200px) {
    .project:last-of-type{
        padding-bottom: 120px;
    }
}
@media screen and (max-width: 1024px) {
    :root{
        --side-padding: 32px;

        --font-size-h2: 40px;
        --font-size-p: 16px;
    }
    .project-container{
        flex-direction: column;
        row-gap: 72px;
    }
    .project-info{
        max-width: none;
        display: flex;
        flex-direction: column;
    }
    .project-img{
        aspect-ratio: 16 / 8;
        margin-bottom: 24px;
    }
    .project:nth-child(odd) .project-info{
        order:unset;
    }
    .project-info a{
        order: 5;
    }
    .project-text{
        margin-bottom: 8px;
    }
}

@media  screen and (max-width: 640px) {
    :root{
        --side-padding: 16px;
        --font-size-h2: 32px;
    }
    .nesto{
        font-size: 12px;
    }
    .state-name{
        font-size: 16px;
        font-weight: var(--font-bold);
    }
    .state-flag{
        max-width: 45px;
    }
    .project-info header h2{
        margin-bottom: 16px;
    }
}